body{
    display: block;
    text-align: center;
}
h1{
    color: black;
     text-align: center;  
     font-weight: bolder;  
}
.textbox2{
    text-align: center;
    border: 1rem solid rgb(46, 151, 243);
    border-radius: 1px;
    background-color:white;
    margin: 0;
   position: absolute;
   top: 30%;
   transform: translateY(-50%);
  
    
  }